apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

patchesStrategicMerge:
- |- 
  apiVersion: apps/v1
  kind: DaemonSet
  metadata:
    name: netprobe-daemonset
  spec:
    template:
      spec:
        containers:
        - name: netprobe
          env:
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName